{% block form_widget %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock form_widget %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endblock form_widget_compound %}

{% block collection_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endblock collection_widget %}

{% block fieldset_widget %}
    <fieldset {{ block('widget_container_attributes') }}>

        {% if legend is defined and legend is not empty %}
            <legend>{{ legend | trans({}, translation_domain) }}</legend>
        {% endif %}

        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}

    </fieldset>
{% endblock fieldset_widget %}

{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock textarea_widget %}

{% block filter_choice_widget %}
    {% if expanded %}
        <ul class="button-choice" {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <li>
                {% set value = child.vars.value %}
                {% set attr = child.vars.attr %}
                {% set form = child.vars.form %}
                {% set id = child.vars.id %}
                {% set name = child.vars.name %}
                {% set full_name = child.vars.full_name %}
                {% set disabled = child.vars.disabled %}
                {% set label = child.vars.label %}
                {% set label_format = child.vars.label_format %}
                {% set multipart = child.vars.multipart %}
                {% set block_prefixes = child.vars.block_prefixes %}
                {% set unique_block_prefix = child.vars.unique_block_prefix %}
                {% set translation_domain = child.vars.translation_domain %}
                {% set cache_key = child.vars.cache_key %}
                {% set errors = child.vars.errors %}
                {% set valid = child.vars.valid %}
                {% set data = child.vars.data %}
                {% set required = child.vars.required %}
                {% set size = child.vars.size %}
                {% set label_attr = child.vars.label_attr %}
                {% set compound = child.vars.compound %}
                {% set method = child.vars.method %}
                {% set action = child.vars.action %}
                {% set submitted = child.vars.submitted %}
                {% set checked = child.vars.checked %}

                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% if label_format is not empty %}
                        {% set label = label_format|replace({
                        '%name%': name,
                        '%id%': id,
                        }) %}
                    {% else %}
                        {% set label = name|humanize %}
                    {% endif %}
                {% endif %}

                <input type="{% if multiple %}checkbox{% else %}radio{% endif %}" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endblock %}

{% block choice_widget %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) %}
        {% set required = false %}
    {% endif %}
    <div class="select-field"><select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if placeholder is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select></div>
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            {% set attr = choice.attr %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% if label_format is not empty %}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
{% endblock checkbox_widget %}

{% block radio_widget %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock radio_widget %}

{% block datetime_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endblock datetime_widget %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endblock date_widget %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {% endif %}
{% endblock time_widget %}

{% block number_widget %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endblock number_widget %}

{% block integer_widget %}
    {% set type = type|default('number') %}
    {{ block('form_widget_simple') }}
{% endblock integer_widget %}

{% block money_widget %}
    {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{% endblock money_widget %}

{% block url_widget %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endblock url_widget %}

{% block search_widget %}
    {% set type = type|default('search') %}
    {{ block('form_widget_simple') }}
{% endblock search_widget %}

{% block percent_widget %}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }} %
{% endblock percent_widget %}

{% block password_widget %}
    {% set type = type|default('password') %}
    {{ block('form_widget_simple') }}
{% endblock password_widget %}

{% block hidden_widget %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endblock hidden_widget %}

{% block email_widget %}
    {% set type = type|default('email') %}
    {{ block('form_widget_simple') }}
{% endblock email_widget %}

{% block range_widget %}
    {% set type = type|default('range') %}
    {{ block('form_widget_simple') }}
{% endblock range_widget %}

{% block button_widget %}
    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{% endblock button_widget %}

{% block submit_widget %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endblock submit_widget %}

{% block reset_widget %}
    {% set type = type|default('reset') %}
    {{ block('button_widget') }}
{% endblock reset_widget %}

{% block file_widget %}
    {% spaceless %}
        {% if image_path is not null %}
            <div class="uploaded-file {% if attr.multiple is defined and attr.multiple is not null %}multiple-file{% else %}single-file{% endif %}">
                <div class="file-row">
                    <a class="file-name" href="{{ image_path }}">{{ image_path }}</a>
                    <a class="btn file-delete" href="#"><svg class="icon icon-trash"><title>Supprimer</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/icons.svg#icon-trash"></use></svg></a>
                </div>
                {% set attr = attr|merge({'data-path': image_path }) %}
                {{ block('form_widget') }}
            </div>
        {% else %}
            {% if attr.multiple is defined and attr.multiple is not null %}
            <div class="drop-zone-wrapper" data-upload-url="{{path('ajax_file_upload', {'subfolder':'documents'})}}" data-remove-url="{{ path('ajax_file_delete', {'subfolder':'documents'}) }}" >
                {{ block('form_widget') }}
            </div>
            {% else %}
                {{ block('form_widget') }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# Labels #}

{% block form_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% if label_format is not empty %}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endblock form_label %}

{% block button_label %}{% endblock %}

{# Rows #}

{% block repeated_row %}
    {#
    No need to render the errors here, as all errors are mapped
    to the first child (see RepeatedTypeValidatorExtension).
    #}
    {{ block('form_rows') }}
{% endblock repeated_row %}

{% block form_row %}
    {% if is_fieldset is not defined or is_fieldset == false %}<div class="form-row">{% endif %}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {% if is_fieldset is not defined or is_fieldset == false %}</div>{% endif %}
{% endblock form_row %}

{% block button_row %}
    <div class="form-actions">
        {{ form_widget(form) }}
    </div>
{% endblock button_row %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# Misc #}

{% block form %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock form %}

{% block form_start %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endblock form_start %}

{% block form_end %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    </form>
{% endblock form_end %}

{% block form_errors %}
    {% if errors|length > 0 %}
    <ul class="form-error-list">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock form_errors %}

{% block form_rest %}
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endblock form_rest %}

{# Support #}

{% block form_rows %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock form_rows %}

{% block widget_attributes %}
    id="{{ id }}" name="{{ full_name }}"
    {% if disabled %} disabled="disabled"{% endif %}
    {% if required %} required="required"{% endif %}
    {% for attrname, attrvalue in attr %}
        {{ " " }}
        {% if attrname in ['placeholder', 'title'] %}
            {{ attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {% elseif attrvalue is same as(true) %}
            {{ attrname }}="{{ attrname }}"
        {% elseif attrvalue is not same as(false) %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}
    {% endfor %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
    {% if id is not empty %}id="{{ id }}"{% endif %}
    {% for attrname, attrvalue in attr %}
        {{ " " }}
        {% if attrname in ['placeholder', 'title'] %}
            {{ attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {% elseif attrvalue is same as(true) %}
            {{ attrname }}="{{ attrname }}"
        {% elseif attrvalue is not same as(false) %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}
    {% endfor %}
{% endblock widget_container_attributes %}

{% block button_attributes %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% for attrname, attrvalue in attr %}
        {{ " " }}
        {% if attrname in ['placeholder', 'title'] %}
            {{ attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {% elseif attrvalue is same as(true) %}
            {{ attrname }}="{{ attrname }}"
        {% elseif attrvalue is not same as(false) %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}
    {% endfor %}
{% endblock button_attributes %}

{% block attributes %}
    {% for attrname, attrvalue in attr %}
        {{ " " }}
        {% if attrname in ['placeholder', 'title'] %}
            {{ attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {% elseif attrvalue is same as(true) %}
            {{ attrname }}="{{ attrname }}"
        {% elseif attrvalue is not same as(false) %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}
    {% endfor %}
{% endblock attributes %}
