<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic" media="all">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <svg class="hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <symbol id="icon-plus" viewBox="0 0 33 40">
                    <title>plus</title>
                    <path class="path1" d="M33 17.25v4.5q0 0.937-0.656 1.594t-1.594 0.656h-9.75v9.75q0 0.937-0.656 1.594t-1.594 0.656h-4.5q-0.937 0-1.594-0.656t-0.656-1.594v-9.75h-9.75q-0.937 0-1.594-0.656t-0.656-1.594v-4.5q0-0.937 0.656-1.594t1.594-0.656h9.75v-9.75q0-0.937 0.656-1.594t1.594-0.656h4.5q0.937 0 1.594 0.656t0.656 1.594v9.75h9.75q0.937 0 1.594 0.656t0.656 1.594z"></path>
                </symbol>
                <symbol id="icon-user" viewBox="0 0 22 28">
                    <title>user</title>
                    <path class="path1" d="M22 21.953q0 1.875-1.141 2.961t-3.031 1.086h-13.656q-1.891 0-3.031-1.086t-1.141-2.961q0-0.828 0.055-1.617t0.219-1.703 0.414-1.695 0.672-1.523 0.969-1.266 1.336-0.836 1.742-0.313q0.141 0 0.656 0.336t1.164 0.75 1.687 0.75 2.086 0.336 2.086-0.336 1.687-0.75 1.164-0.75 0.656-0.336q0.953 0 1.742 0.313t1.336 0.836 0.969 1.266 0.672 1.523 0.414 1.695 0.219 1.703 0.055 1.617zM17 8q0 2.484-1.758 4.242t-4.242 1.758-4.242-1.758-1.758-4.242 1.758-4.242 4.242-1.758 4.242 1.758 1.758 4.242z"></path>
                </symbol>
                <symbol id="icon-calendar" viewBox="0 0 26 28">
                    <title>calendar</title>
                    <path class="path1" d="M2 26h4.5v-4.5h-4.5v4.5zM7.5 26h5v-4.5h-5v4.5zM2 20.5h4.5v-5h-4.5v5zM7.5 20.5h5v-5h-5v5zM2 14.5h4.5v-4.5h-4.5v4.5zM13.5 26h5v-4.5h-5v4.5zM7.5 14.5h5v-4.5h-5v4.5zM19.5 26h4.5v-4.5h-4.5v4.5zM13.5 20.5h5v-5h-5v5zM8 7v-4.5q0-0.203-0.148-0.352t-0.352-0.148h-1q-0.203 0-0.352 0.148t-0.148 0.352v4.5q0 0.203 0.148 0.352t0.352 0.148h1q0.203 0 0.352-0.148t0.148-0.352zM19.5 20.5h4.5v-5h-4.5v5zM13.5 14.5h5v-4.5h-5v4.5zM19.5 14.5h4.5v-4.5h-4.5v4.5zM20 7v-4.5q0-0.203-0.148-0.352t-0.352-0.148h-1q-0.203 0-0.352 0.148t-0.148 0.352v4.5q0 0.203 0.148 0.352t0.352 0.148h1q0.203 0 0.352-0.148t0.148-0.352zM26 6v20q0 0.812-0.594 1.406t-1.406 0.594h-22q-0.812 0-1.406-0.594t-0.594-1.406v-20q0-0.812 0.594-1.406t1.406-0.594h2v-1.5q0-1.031 0.734-1.766t1.766-0.734h1q1.031 0 1.766 0.734t0.734 1.766v1.5h6v-1.5q0-1.031 0.734-1.766t1.766-0.734h1q1.031 0 1.766 0.734t0.734 1.766v1.5h2q0.812 0 1.406 0.594t0.594 1.406z"></path>
                </symbol>
                <symbol id="icon-lightbulb" viewBox="0 0 16 28">
                    <title>lightbulb-o</title>
                    <path class="path1" d="M11.5 9q0 0.203-0.148 0.352t-0.352 0.148-0.352-0.148-0.148-0.352q0-0.719-0.844-1.109t-1.656-0.391q-0.203 0-0.352-0.148t-0.148-0.352 0.148-0.352 0.352-0.148q0.781 0 1.555 0.25t1.359 0.844 0.586 1.406zM14 9q0-1.125-0.539-2.094t-1.406-1.586-1.922-0.969-2.133-0.352-2.133 0.352-1.922 0.969-1.406 1.586-0.539 2.094q0 1.578 1.062 2.812 0.156 0.172 0.477 0.516t0.477 0.516q2 2.391 2.203 4.656h3.563q0.203-2.266 2.203-4.656 0.156-0.172 0.477-0.516t0.477-0.516q1.062-1.234 1.062-2.812zM16 9q0 2.422-1.609 4.188-0.703 0.766-1.164 1.359t-0.93 1.492-0.531 1.68q0.734 0.438 0.734 1.281 0 0.578-0.391 1 0.391 0.422 0.391 1 0 0.812-0.703 1.266 0.203 0.359 0.203 0.734 0 0.719-0.492 1.109t-1.211 0.391q-0.313 0.688-0.938 1.094t-1.359 0.406-1.359-0.406-0.938-1.094q-0.719 0-1.211-0.391t-0.492-1.109q0-0.375 0.203-0.734-0.703-0.453-0.703-1.266 0-0.578 0.391-1-0.391-0.422-0.391-1 0-0.844 0.734-1.281-0.063-0.781-0.531-1.68t-0.93-1.492-1.164-1.359q-1.609-1.766-1.609-4.188 0-1.547 0.695-2.883t1.828-2.219 2.562-1.391 2.914-0.508 2.914 0.508 2.562 1.391 1.828 2.219 0.695 2.883z"></path>
                </symbol>
                <symbol id="icon-exchange" viewBox="0 0 28 28">
                    <title>exchange</title>
                    <path class="path1" d="M28 18.5v3q0 0.203-0.148 0.352t-0.352 0.148h-21.5v3q0 0.203-0.148 0.352t-0.352 0.148q-0.187 0-0.375-0.156l-4.984-5q-0.141-0.141-0.141-0.344 0-0.219 0.141-0.359l5-5q0.141-0.141 0.359-0.141 0.203 0 0.352 0.148t0.148 0.352v3h21.5q0.203 0 0.352 0.148t0.148 0.352zM28 10q0 0.219-0.141 0.359l-5 5q-0.141 0.141-0.359 0.141-0.203 0-0.352-0.148t-0.148-0.352v-3h-21.5q-0.203 0-0.352-0.148t-0.148-0.352v-3q0-0.203 0.148-0.352t0.352-0.148h21.5v-3q0-0.219 0.141-0.359t0.359-0.141q0.187 0 0.375 0.156l4.984 4.984q0.141 0.141 0.141 0.359z"></path>
                </symbol>
                <symbol id="icon-file-text" viewBox="0 0 24 28">
                    <title>file-text-o</title>
                    <path class="path1" d="M22.937 5.938q0.438 0.438 0.75 1.188t0.313 1.375v18q0 0.625-0.438 1.062t-1.062 0.438h-21q-0.625 0-1.062-0.438t-0.438-1.062v-25q0-0.625 0.438-1.062t1.062-0.438h14q0.625 0 1.375 0.313t1.188 0.75zM16 2.125v5.875h5.875q-0.156-0.453-0.344-0.641l-4.891-4.891q-0.187-0.187-0.641-0.344zM22 26v-16h-6.5q-0.625 0-1.062-0.438t-0.438-1.062v-6.5h-12v24h20zM6 12.5q0-0.219 0.141-0.359t0.359-0.141h11q0.219 0 0.359 0.141t0.141 0.359v1q0 0.219-0.141 0.359t-0.359 0.141h-11q-0.219 0-0.359-0.141t-0.141-0.359v-1zM17.5 16q0.219 0 0.359 0.141t0.141 0.359v1q0 0.219-0.141 0.359t-0.359 0.141h-11q-0.219 0-0.359-0.141t-0.141-0.359v-1q0-0.219 0.141-0.359t0.359-0.141h11zM17.5 20q0.219 0 0.359 0.141t0.141 0.359v1q0 0.219-0.141 0.359t-0.359 0.141h-11q-0.219 0-0.359-0.141t-0.141-0.359v-1q0-0.219 0.141-0.359t0.359-0.141h11z"></path>
                </symbol>
                <symbol id="icon-tag" viewBox="0 0 24 28">
                    <title>tag</title>
                    <path class="path1" d="M7 7q0-0.828-0.586-1.414t-1.414-0.586-1.414 0.586-0.586 1.414 0.586 1.414 1.414 0.586 1.414-0.586 0.586-1.414zM23.672 16q0 0.828-0.578 1.406l-7.672 7.688q-0.609 0.578-1.422 0.578-0.828 0-1.406-0.578l-11.172-11.188q-0.594-0.578-1.008-1.578t-0.414-1.828v-6.5q0-0.812 0.594-1.406t1.406-0.594h6.5q0.828 0 1.828 0.414t1.594 1.008l11.172 11.156q0.578 0.609 0.578 1.422z"></path>
                </symbol>
                <symbol id="icon-tags" viewBox="0 0 30 28">
                    <title>tags</title>
                    <path class="path1" d="M7 7q0-0.828-0.586-1.414t-1.414-0.586-1.414 0.586-0.586 1.414 0.586 1.414 1.414 0.586 1.414-0.586 0.586-1.414zM23.672 16q0 0.828-0.578 1.406l-7.672 7.688q-0.609 0.578-1.422 0.578-0.828 0-1.406-0.578l-11.172-11.188q-0.594-0.578-1.008-1.578t-0.414-1.828v-6.5q0-0.812 0.594-1.406t1.406-0.594h6.5q0.828 0 1.828 0.414t1.594 1.008l11.172 11.156q0.578 0.609 0.578 1.422zM29.672 16q0 0.828-0.578 1.406l-7.672 7.688q-0.609 0.578-1.422 0.578-0.562 0-0.922-0.219t-0.828-0.703l7.344-7.344q0.578-0.578 0.578-1.406 0-0.812-0.578-1.422l-11.172-11.156q-0.594-0.594-1.594-1.008t-1.828-0.414h3.5q0.828 0 1.828 0.414t1.594 1.008l11.172 11.156q0.578 0.609 0.578 1.422z"></path>
                </symbol>
                <symbol id="icon-archive" viewBox="0 0 28 28">
                    <title>archive</title>
                    <path class="path1" d="M17 13q0-0.406-0.297-0.703t-0.703-0.297h-4q-0.406 0-0.703 0.297t-0.297 0.703 0.297 0.703 0.703 0.297h4q0.406 0 0.703-0.297t0.297-0.703zM26 10v15q0 0.406-0.297 0.703t-0.703 0.297h-22q-0.406 0-0.703-0.297t-0.297-0.703v-15q0-0.406 0.297-0.703t0.703-0.297h22q0.406 0 0.703 0.297t0.297 0.703zM27 3v4q0 0.406-0.297 0.703t-0.703 0.297h-24q-0.406 0-0.703-0.297t-0.297-0.703v-4q0-0.406 0.297-0.703t0.703-0.297h24q0.406 0 0.703 0.297t0.297 0.703z"></path>
                </symbol>
            </defs>
        </svg>

        <div class="header">
            <div class="wrapper">
                <div class="logo"><img src="/logo_white.svg" width="282" height="48" /></div>
                <ul class="menu">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="#">Le SEL</a>
                        <ul>
                            <li><a href="/le-sel-athois">Le SEL Athois</a></li>
                            <li><a href="/articles">La vie du SEL</a></li>
                            <li><a href="/agenda">Agenda</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="{{ path('user_index') }}">Liste des membres</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('service_index') }}">Services</a></li>
                    <li><a href="/faq">Questions fréquentes</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('user_show', { 'id': app.user.id }) }}"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg> {{ app.user.username }}</a>
                            <ul>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('user_edit', { 'id': app.user.id }) }}">Modifier</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="main-content">
            {% set messages_list = app.session.flashBag.all %}
            {% if messages_list %}
                <div class="wrapper">
                    {% for type, messages in messages_list %}
                        {% for message in messages %}
                            <div class="{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle')|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            {% block fos_user_content %}{% endblock fos_user_content %}
            {% block body %}{% endblock %}
        </div>

        <div class="add-tool">
            <div class="wrapper">
                <a class="toggle" href="#"><svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg><span class="text"> Ajouter</span></a>
                <ul>
                    <li><a href="{{ path('service_new') }}" title="Service"><svg class="icon icon-lightbulb"><use xlink:href="#icon-lightbulb"></use></svg>
                            <span class="text">Service</span></a></li>
                    <li><a href="/agenda/ajouter" title="&Eacute;venement"><svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                            <span class="text">&Eacute;venement</span></a></li>
                    <li><a href="/articles/ajouter" title="Article"><svg class="icon icon-file-text"><use xlink:href="#icon-file-text"></use></svg>
                            <span class="text">Article</span></a></li>
                    <li><a href="{{ path('exchange_new') }}" title="&Eacute;change"><svg class="icon icon-exchange"><use xlink:href="#icon-exchange"></use></svg>
                            <span class="text">&Eacute;change</span></a></li>
                    <li><a href="{{ path('user_new') }}" title="Membre"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
                            <span class="text">Membre</span></a></li>
                </ul>
            </div>
        </div>
        <div class="dimmer"></div>

        {% block javascripts %}{% endblock %}
    </body>
</html>