{% import "Macros/icons.html.twig" as icons %}
<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Emmanuel Szép">
        <title>{% block title %}Le SEL Athois !{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#438a95">
        <link rel="alternate" type="application/rss+xml"
              title="RSS Feed pour BoutsdefiSEL"
              href="/feed" />
        <meta name="theme-color" content="#438a95">

        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic" media="all">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}?v2.2.0" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="nojs">
        <div class="header">
            {% set messages_list = app.session.flashBag.all %}
            {% block fos_user_error %}{% endblock %}
            {% if messages_list %}
                <div class="flash-messages">
                    <div class="wrapper">
                        {% for type, messages in messages_list %}
                            {% for message in messages %}
                                <div class="message {{ type }}">
                                    {{ message|trans({}, 'FOSUserBundle')|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="wrapper">
                <div class="logo"><a href="/"><img src="/logo_white.svg" width="282" height="48" /></a></div>
                <input id="menu-toggle" class="menu-toggle" type="checkbox" />
                <label class="menu-toggle-label" for="menu-toggle">
                    {{ icons.icon('menu', 'Menu', 'menu-open') }}
                    {{ icons.icon('close', 'Menu', 'menu-close') }}
                </label>
                <ul class="menu">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="#">Le SEL</a>
                        <ul>
                            <li><a href="/le-sel-athois">Le SEL Athois</a></li>
                            <li><a href="{{ path('article_index') }}">L'info du SEL</a></li>
                            <!--<li><a href="/articles">La vie du SEL</a></li>
                            <li><a href="/agenda">Agenda</a></li>-->
                            <li><a href="/contact">Contact</a></li>
                            {% if is_granted("ROLE_USER") %}
                            <li><a href="{{ path('user_index') }}">Liste des membres</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{{ path('sel_service_index') }}">Services</a></li>
                    <li><a href="{{ path('sel_faq_index') }}">Questions fréquentes</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('user_show', { 'id': app.user.id }) }}">{{ icons.icon('user', 'Membre') }} {{ app.user.username }}</a>
                            <ul>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('user_edit', { 'id': app.user.id }) }}">Modifier</a></li>
                                <li><a href="{{ path('fos_user_change_password', { 'id': app.user.id }) }}">Changer de mot de passe</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="main-content">
            {% block header %}{% endblock %}

            {% block fos_user_content %}{% endblock fos_user_content %}
            {% block body %}{% endblock %}
        </div>

        <footer class="main-footer">

        </footer>

        {% if app.user %}
        <div class="add-tool">
            <div class="wrapper">
                <a class="toggle" href="#" title="Ajouter">{{ icons.icon('plus', 'Ajouter') }}</a>
                <ul>
                    <li>{{ icons.iconlink('lightbulb', 'Ajouter un service', path('sel_service_new')) }}</li>
                    <!--
                    <li>{{ icons.iconlink('calendar', 'Ajouter un évènement', '/agenda/ajouter') }}</li>
                    -->
                    {% if is_granted("ROLE_EDITOR") %}
                    <li>{{ icons.iconlink('file-text', 'Ajouter un article', path('article_new')) }}</li>
                    {% endif %}

                    <li>{{ icons.iconlink('exchange', 'Ajouter un échange', path('sel_exchange_new')) }}</li>
                    {% if is_granted("create user") %}
                    <li>{{ icons.iconlink('user', 'Ajouter un membre', path('user_new')) }}</li>
                    {% endif %}
                    {% if is_granted("ROLE_EDITOR") %}
                    <li>{{ icons.iconlink('question', 'Ajouter une question', path('sel_faq_new')) }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="dimmer"></div>

        <script src="{{ asset('js/main.js') }}?v2.2.0"></script>
        {% block javascripts %}{% endblock %}

        {% if app.environment == 'prod' %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['setCustomVariable',
                // Index, the number from 1 to 5 where this custom variable name is stored for the current page view
                1,
                // Name, the name of the variable, for example: Category, Sub-category, UserType
                "UserType",
                // Value, for example: "Sports", "News", "World", "Business", etc.
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                "ROLE_SUPER_ADMIN",
                {% elseif is_granted("ROLE_ADMIN") %}
                "ROLE_ADMIN",
                {% elseif is_granted("ROLE_COCO") %}
                "ROLE_COCO",
                {% elseif is_granted("ROLE_EDITOR") %}
                "ROLE_EDITOR",
                {% elseif is_granted("ROLE_USER") %}
                "ROLE_USER",
                {% else %}
                "ANONYMOUS",
                {% endif %}
                // Scope of the custom variable, "page" means the custom variable applies to the current page view
                "visit"
            ]);

            {% if is_granted("ROLE_USER") %}
            _paq.push(['setCustomVariable',
                // Index, the number from 1 to 5 where this custom variable name is stored for the current page view
                2,
                // Name, the name of the variable, for example: Category, Sub-category, UserType
                "UserName",
                // Value, for example: "Sports", "News", "World", "Business", etc.
                "{{ app.user.username }}",
                // Scope of the custom variable, "page" means the custom variable applies to the current page view
                "visit"
            ]);
            {% endif %}

            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.szep.be/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Piwik Code -->
        {% endif %}
    </body>
</html>
