{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block title %}L'info du SEL{% endblock %}

{% block header %}
    <header class="page-header has-block inline-heading angle-intro angle-reverse">
        <div class="wrapper">
            <h1>L'info du SEL</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="article-list">
    <div class="wrapper">
    {% if articles is empty %}
        <p class="lead text-center">Il n'y a aucun article disponible.</p>
    {% endif %}
    {% for article in articles %}
        <article>
            {% if article.picture %}
            <div class="picture">
                <img src="{{ article.picture.getWebPath }}" alt="" />
            </div>
            {% endif %}
            <header>
                <h1><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></h1>
                <div class="meta">
                    {% if article.publishedat %}<span>Publié le {{ article.publishedat | localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}</span>{% else %}<span>Publié le {{ article.created | localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}</span>{% endif %}
                </div>
            </header>

            <div class="intro">
                {{ article.body|raw }}
            </div>

            <div class="actions">
                <a class="btn edit" href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
                <a class="btn main read-more" href="{{ path('article_show', { 'id': article.id }) }}">Lire la suite</a>
            </div>
        </article>
    {% endfor %}
    </div>
</section>
{% endblock %}
