{% macro icon(name, text, class) %}
    {% set r = random() %}
    <svg class="icon icon-{{ name }}{% if class %} {{ class }}{% endif %}" aria-labelledby="svgTitle-{{ r }}"><title id="svgTitle-{{ r }}">{{ text }}</title><use xlink:href="#icon-{{ name }}"></use></svg>
{% endmacro %}

{% macro iconlink(name, text, url, class) %}
    {% set r = random() %}
    <a href="{{ url }}" title="{{ text }}"{% if class %} class="{{ class }}"{% endif %}><svg class="icon icon-{{ name }}" aria-labelledby="svgTitle-{{ r }}"><title id="svgTitle-{{ r }}">{{ text }}</title><use xlink:href="#icon-{{ name }}"></use></svg></a>
{% endmacro %}