{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block header %}
    <header class="page-header has-block angle-intro">
        <div class="wrapper">
            <h1>Questions fréquentes</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="faq-list">
    <div class="wrapper">
        {% if q_public is not empty %}
        <h2>Questions générales</h2>

        <ul class="faq-group">
        {% for q in q_public %}
            <li class="faq-item">
                <div class="question">{{ q.question }} {{ icons.iconlink('pencil', 'Modifier', path('faq_edit', { 'id': q.id })) }}</div>
                <div class="answer">{{ q.answer|raw }}</div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if q_member is not empty and is_granted('ROLE_USER') %}
        <h2>Questions internes</h2>

        <ul class="faq-group">
            {% for q in q_member %}
                <li class="faq-item">
                    <div class="question">{{ q.question }} {{ icons.iconlink('pencil', 'Modifier', path('faq_edit', { 'id': q.id })) }}</div>
                    <div class="answer">{{ q.answer|raw }}</div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if q_editor is not empty and is_granted('ROLE_EDITOR') %}
        <h2>Questions relatives au COCO</h2>

        <ul class="faq-group">
            {% for q in q_editor %}
                <li class="faq-item">
                    <div class="question">{{ q.question }} {{ icons.iconlink('pencil', 'Modifier', path('faq_edit', { 'id': q.id })) }}</div>
                    <div class="answer">{{ q.answer|raw }}</div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if q_public is empty and q_member is empty and q_editor is empty %}
        <p class="lead text-center">Aucune question à afficher pour l'instant.</p>
        {% endif %}
    </div>
</section>
{% endblock %}