{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block title %}Liste des échanges{% endblock %}

{% block header %}
    <header class="page-header angle-intro">
        <div class="wrapper">
            <h1>Liste des échanges</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <div class="exchange-list">
            {% for exchange in exchanges %}
                <div class="exchange-list__item">
                    <div class="exchange-list__authors">
                        <a href="{{ path('user_show', { 'id': exchange.creditUser.id }) }}">{{ exchange.creditUser }}</a>
                        {{ icons.icon('arrow-right', 'a rendu service à') }}
                        <a href="{{ path('user_show', { 'id': exchange.debitUser.id }) }}">{{ exchange.debitUser }}</a>
                    </div>
                    <div class="exchange-list__amount">
                        {{ exchange.amount }} noeuds
                    </div>
                    <div class="exchange-list__date">
                        {{ exchange.created | localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                    </div>
                    <div class="exchange-list__message">
                        <div class="exchange-list__message__title">{{ exchange.title }}</div>
                        {% if exchange.message is defined and exchange.message|length %}<div class="exchange-list__message__text">{{ exchange.message }}</div>{% endif %}
                    </div>
                    {% if is_granted("edit", exchange) %}
                    <div class="exchange-list__actions">
                        <ul>
                            <li>
                                {{ icons.iconlink('pencil', 'Modifier', path('sel_exchange_edit', { 'id': exchange.id })) }}
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>

            {{ knp_pagination_render(exchanges) }}
        </div>
    </section>
{% endblock %}
