{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block title %}Les échanges de {{ user.username }}{% endblock %}

{% block body %}
    <section class="user-exchanges" data-tab-title="Liste des échanges">
        <div class="wrapper">
            {% if exchanges|length < 1 %}
                <p class="lead text-center">Vous n'avez encore fait aucun échange. Si vous avez bénéficié des services d'un autre membre, cliquez sur le <strong>+</strong> en bas, à droite de cette page pour encoder un échange.</p>
            {% else %}
                <div class="exchange-list">
                {% for exchange in exchanges %}
                    <div class="exchange-list__item">
                        <div class="exchange-list__authors">
                            <a href="{{ path('user_show', { 'id': exchange.creditUser.id }) }}">{{ exchange.creditUser }}</a>
                            {{ icons.icon('arrow-right', 'a rendu service à') }}
                            <a href="{{ path('user_show', { 'id': exchange.debitUser.id }) }}">{{ exchange.debitUser }}</a>
                        </div>
                        <div class="exchange-list__amount">
                            {{ exchange.amount }} noeuds
                        </div>
                        <div class="exchange-list__date">
                            {{ exchange.created | localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                        </div>
                        <div class="exchange-list__message">
                            <div class="exchange-list__message__title">{{ exchange.title }}</div>
                            {% if exchange.message is defined and exchange.message|length %}<div class="exchange-list__message__text">{{ exchange.message }}</div>{% endif %}
                        </div>
                        {% if is_granted("edit", exchange) %}
                        <div class="exchange-list__actions">
                            <ul>
                                <li>
                                    {{ icons.iconlink('pencil', 'Modifier', path('sel_exchange_edit', { 'id': exchange.id })) }}
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>

            {{ knp_pagination_render(exchanges) }}
            {% endif %}
        </div>
    </section>
{% endblock %}