{% extends 'base.html.twig' %}

{% block javascripts %}
    {% if print_list %}
<script>
    (function(window) {
        $(function() {
            window.print();
        })();
    })(window);
    {% endif %}
</script>
{% endblock %}

{% block header %}
    <header class="page-header angle-intro angle-reverse inline-heading">
        <div class="wrapper">
            <h1>Les membres</h1>
            {{ icons.iconlink('print', 'Imprimer', path('user_index', { 'print_list': 1 }), 'btn') }} {{ icons.iconlink('download', 'Télécharger au format CSV', path('user_csv_index'), 'btn') }}
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="user-list">
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <td width="1"></td>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th class="hide-for-print">Noeuds</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th class="hide-for-print" width="1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        {% if is_granted("show", user) %}
                    <tr class="{% if app.getUser == user %}current-user {% endif %}{% if user.locked or not user.isEnabled %}hide-for-print {% endif %}{% if user.locked %}locked {% endif %}{% if not user.isEnabled %}disabled {% endif %}{% if user.hasRole('ROLE_COCO') %}coco{% endif %}">
                        <td>{% if user.locked %}{{ icons.icon('lock') }}{% endif %}{% if not user.isEnabled %}{{ icons.icon('clock') }}{% endif %}{% if user.hasRole('ROLE_COCO') %}{{ icons.icon('badge') }}{% endif %}</td>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td class="hide-for-print">{{ user.balance }}</td>
                        <td>{{ user.getPhoneFormatted }}{% if user.phone and user.mobile %}<br />{% endif %}{{ user.getMobileFormatted }}</td>
                        <td>{{ user.address|nl2br }}</td>
                        <td class="hide-for-print">
                            {% set canEdit = is_granted("edit", user) %}
                            {% set canManage = is_granted("manage", user) %}

                            {% if canEdit or canManage %}
                            <ul class="table-actions">
                                {% if canEdit %}
                                <li>{{ icons.iconlink('pencil', 'Modifier', path('user_edit', { 'id': user.id })) }}</li>
                                {% endif %}
                                {% if canManage %}
                                    <li>
                                        {% if not user.locked %}
                                            {{ icons.iconlink('lock', 'Bloquer', path('user_disable', { 'id': user.id }), 'disable-action') }}
                                        {% else %}
                                            {{ icons.iconlink('unlock', 'Débloquer', path('user_enable', { 'id': user.id }), 'enable-action') }}
                                        {% endif %}
                                    </li>
                                    {% if not user.locked %}
                                    <li>
                                        {% if user.hasRole('ROLE_COCO') %}
                                            {{ icons.iconlink('badge', 'Désactiver COCO', path('user_disable_coco', { 'id': user.id }), 'disable-action') }}
                                        {% else %}
                                            {{ icons.iconlink('badge', 'Activer COCO', path('user_enable_coco', { 'id': user.id }), 'enable-action') }}
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted("enable", user) %}
                                    <li>
                                        {{ icons.iconlink('check', 'Activer', path('user_activate', { 'id': user.id }), 'enable-action') }}
                                    </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </td>
                    </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if not print_list %}
            {{ knp_pagination_render(users) }}
            {% endif %}
        </div>
    </section>
{% endblock %}