{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Dernière connexion</th>
                <th>Bloqué</th>
                <th>Noeuds</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.lastLogin %}{{ user.lastLogin|date("d/m/Y H:i:s") }}{% endif %}</td>
                <td>{{ user.locked }}</td>
                <td>{{ user.balance }}</td>
                <td>{{ user.phone }}{% if user.phone and user.mobile %}<br />{% endif %}{{ user.mobile }}</td>
                <td>{{ user.address|nl2br }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">modifier</a>
                        </li>
                        {% if app.user and (app.user.hasRole('ROLE_SUPER_ADMIN') or app.user.hasRole('ROLE_COCO')) %}
                            {%  if app.user.id != user.id %}
                            <li>
                                {% if user.enabled %}
                                <a href="{{ path('user_disable', { 'id': user.id }) }}">désactiver</a>
                                {% else %}
                                <a href="{{ path('user_enable', { 'id': user.id }) }}">activer</a>
                                {% endif %}
                            </li>
                            {% endif %}
                            <li>
                            {% if user.hasRole('COCO') %}
                                <a href="{{ path('user_disable_coco', { 'id': user.id }) }}">désactiver COCO</a>
                            {% else %}
                                <a href="{{ path('user_enable_coco', { 'id': user.id }) }}">activer COCO</a>
                            {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}