{% extends 'base.html.twig' %}

{% block header %}
    <!--
        TODO: Put user.lastLogin|date("d/m/Y H:i:s") in a tooltip
    -->

    <header class="page-header angle-intro angle-reverse">
        <div class="wrapper">
            <h1>Les membres</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="service-list">
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <td width="1"></td>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th>Noeuds</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th width="1">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        {% if is_granted("show", user) %}
                    <tr class="{% if user.locked %}locked{% endif %} {% if not user.isEnabled %}disabled{% endif %} {% if user.hasRole('ROLE_COCO') %}coco{% endif %}">
                        <td>{% if user.locked %}{{ icons.icon('lock') }}{% endif %}{% if not user.isEnabled %}{{ icons.icon('clock') }}{% endif %}{% if user.hasRole('ROLE_COCO') %}{{ icons.icon('badge') }}{% endif %}</td>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td>{{ user.balance }}</td>
                        <td>{{ user.phone }}{% if user.phone and user.mobile %}<br />{% endif %}{{ user.mobile }}</td>
                        <td>{{ user.address|nl2br }}</td>
                        <td>
                            <ul class="table-actions">
                                <li>{{ icons.iconlink('pencil', 'Modifier', path('user_edit', { 'id': user.id })) }}</li>
                                {% if is_granted("manage", user) %}
                                    <li>
                                        {% if not user.locked %}
                                            {{ icons.iconlink('lock', 'Bloquer', path('user_disable', { 'id': user.id }), 'disable-action') }}
                                        {% else %}
                                            {{ icons.iconlink('unlock', 'Débloquer', path('user_enable', { 'id': user.id }), 'enable-action') }}
                                        {% endif %}
                                    </li>
                                    {% if not user.locked %}
                                    <li>
                                        {% if user.hasRole('ROLE_COCO') %}
                                            {{ icons.iconlink('badge', 'Désactiver COCO', path('user_disable_coco', { 'id': user.id }), 'disable-action') }}
                                        {% else %}
                                            {{ icons.iconlink('badge', 'Activer COCO', path('user_enable_coco', { 'id': user.id }), 'enable-action') }}
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted("enable", user) %}
                                    <li>
                                        {{ icons.iconlink('check', 'Activer', path('user_activate', { 'id': user.id }), 'enable-action') }}
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}