{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header angle-intro">
        <div class="wrapper">
            <h1>Nouveau membre</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="add-form">
    <div class="wrapper">
        {{ form_start(form, {'attr': {'class': 'small-form'}}) }}
        <fieldset>
            <div class="form-row">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
            <div class="form-row">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </fieldset>

        <div class="form-actions">
            {{ form_widget(form.save) }}
            <a href="{{ path('user_index') }}" class="btn">Retour à la liste</a>
        </div>

        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
