{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block header %}
    <header class="page-header angle-intro inline-heading">
        <div class="wrapper">
            <h1>{{ user.username }}</h1>

            {{ icons.iconlink('pencil', 'Modifier', path('user_edit', { 'id': user.id }), 'btn') }}

            <div class="user-balance">{{ user.balance }} noeuds</div>
        </div>
    </header>

    <div class="wrapper user-picture">
        <img src="{{ user.getPictureWebPath | imagine_filter('user_full') }}"
             srcset="{{ user.getPictureWebPath | imagine_filter('user_full') }} 1x,
                         {{ user.getPictureWebPath | imagine_filter('user_full2x') }} 2x" />
    </div>
{% endblock %}

{% block body %}
    <div class="tabbed-sections">
        {{ render(controller(
        'AppBundle:Service:listForUser',
        { 'request' : app.request, 'user': user.id, 'partial': true }
        )) }}

        {{ render(controller(
            'SelExchangeBundle:Exchange:listForUser',
            { 'user': user.id, 'partial': true}
        )) }}

        <section class="user-profile" data-tab-title="Infos de contact">
            <div class="wrapper">
                <p class="user-data lead">
                    <strong>Adresse email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    {% if not user.phone and not user.mobile and not user.address and not user.getPicture %}
                       </p><p class="lead text-center">Votre profil est bien vide. Cliquez sur le petit crayon à droite de votre nom en haut de cette page pour modifier vos données.</p><p>
                    {% else %}<br />{% endif %}
                    {% if user.phone %}<strong>Téléphone:</strong> <a href="tel:{{ user.phone }}">{{ user.getPhoneFormatted }}</a><br />{% endif %}
                    {% if user.mobile %}<strong>GSM:</strong> <a href="tel:{{ user.mobile }}">{{ user.getMobileFormatted }}</a><br />{% endif %}
                    {% if user.address %}<strong>Adresse:</strong> {{ user.address|nl2br }}<br />{% endif %}
                </p>
            </div>
        </section>
    </div>
{% endblock %}
