{% if pageCount > 1 %}
    {%  if anchor is not defined %}
        {% set anchor = '' %}
    {% endif %}
    <nav class="pagination">
        <ul>
        {% if previous is defined %}
            <li class="previous">
                <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}{{ anchor }}">&laquo; {{ 'Previous'|trans }}</a>
            </li>
        {% else %}
            <li class="previous unavailable">
                <span class="pagination-link">
                    &laquo; {{ 'Previous'|trans }}
                </span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}{{ anchor }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}{{ anchor }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="page unavailable">
                    <span class="pagination-link">&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page">
                    <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}{{ anchor }}">
                        {{ page }}
                    </a>
                </li>
            {% else %}
                <li class="page current">
                    <span class="pagination-link">{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="page unavailable">
                        <span class="pagination-link">&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}{{ anchor }}">
                            {{ pageCount -1 }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}{{ anchor }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li class="next">
                <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}{{ anchor }}">
                    {{ 'Next'|trans }} &nbsp;&raquo;
                </a>
            </li>
        {% else %}
            <li class="next unavailable">
                <span class="pagination-link">
                    {{ 'Next'|trans }} &nbsp;&raquo;
                </span>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}