{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block header %}
    <header class="page-header angle-intro angle-reverse">
        <div class="wrapper">
            <h1>Contactez-nous</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <p>Cette page a besoin de contenu:</p>

            <ul>
                <li>Un formulaire de contact</li>
                <li>Les infos sur la manière dont on s'inscrit</li>
                <li>Les scéances d'info</li>
                <li>...</li>
            </ul>

            {{ form_start(form, {'attr': {'class': 'medium-form'}}) }}
            <fieldset>
                <div class="form-row">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject) }}
                    {{ form_errors(form.subject) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    {{ form_errors(form.message) }}
                </div>

                <div class="form-row">
                    {{ form_label(form.recaptcha) }}
                    {{ form_widget(form.recaptcha) }}
                    {{ form_errors(form.recaptcha) }}
                </div>
            </fieldset>

            <div class="form-actions">
                {{ form_widget(form.send) }}
            </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}