{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block header %}
    <header class="page-header angle-intro angle-reverse">
        <div class="wrapper">
            <h1>Contactez-nous</h1>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section>
        <div class="wrapper">
            <div class="grid ">
                <div class="grid-item-large-up grid-item-3-5-large-up order-2">
                    {{ form_start(form, {'attr': {'class': 'medium-form recaptcha-form'}}) }}
                    <fieldset>
                        <div class="form-row">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="form-row">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-row">
                            {{ form_label(form.subject) }}
                            {{ form_widget(form.subject) }}
                            {{ form_errors(form.subject) }}
                        </div>
                        <div class="form-row">
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </div>

                            {{ form_widget(form.recaptcha) }}
                            {{ form_errors(form.recaptcha) }}
                    </fieldset>

                    <div class="form-actions">
                        {{ form_widget(form.send) }}
                    </div>

                    {{ form_end(form) }}
                </div>

                <div class="grid-item-large-up grid-item-2-5-large-up order-1 order-3-large-up">
                    <h3>Séances d'infos</h3>
                    <p>Une fois par mois, Mandarine accueille les futurs membres du Bouts de FiSel pour leur expliquer le fonctionnement du SEL , la valorisation de leurs compétences, leur donner des idées d'offres & demandes.</p>

                    <p>Les séances ont lieu à Bouvignies, de 18h30 à 19h30</p>

                    <p>Intéressé(e)s ? N'hésitez pas à en parler autour de vous !</p>

                    <p>Voici les dates des prochaines séances :</p>

                    <ul>
                        <li>Le mardi 14 mars 2017 à 18h30</li>
                        <li>Le mercredi 19 avril 2017 à 18h30</li>
                    </ul>
                    <p>Merci de signaler votre venue via le formulaire de contact.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}