{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header angle-intro inline-heading">
        <div class="wrapper">
            <h1>Modifier un service</h1>

            {{ form_start(delete_form, {'attr': {'class': 'delete-form'}}) }}
            <button type="submit" class="btn-delete" data-confirm-message="Êtes-vous sûr de vouloir supprimer ce service&nbsp;?">{{ icons.icon('trash', 'Supprimer') }}</button>
            {{ form_end(delete_form) }}
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="edit-form">
    <div class="wrapper">
        {{ form_start(form, {'attr': {'class': 'medium-form'}}) }}
        <fieldset>
            {% if is_granted('ROLE_EDITOR') %}
                <div class="form-row">
                    {{ form_label(form.user) }}
                    {{ form_widget(form.user) }}
                    {{ form_errors(form.user) }}
                </div>
            {% endif %}
            <div class="form-row">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-row">
                {{ form_label(form.body) }}
                {{ form_widget(form.body) }}
                {{ form_errors(form.body) }}
            </div>
            <div class="form-row">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                {{ form_errors(form.type) }}
            </div>
            <div class="form-row">
                {{ form_label(form.domain) }}
                {{ form_widget(form.domain) }}
                {{ form_errors(form.domain) }}
            </div>
            <div class="form-row">
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}
            </div>
            <div class="form-row">
                {{ form_label(form.picture) }}
                {{ form_widget(form.picture) }}
                {{ form_errors(form.picture) }}
            </div>
            <div class="form-row">
                {{ form_label(form.expires_at) }}
                {{ form_widget(form.expires_at) }}
                {{ form_errors(form.expires_at) }}
            </div>
        </fieldset>

        <div class="form-actions">
            {{ form_widget(form.save) }}
            <a href="{{ path('service_index') }}" class="btn">Retour à la liste</a>
        </div>

        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
