{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header has-block angle-intro angle-reverse">
        <div class="wrapper">
            <h1>Les services</h1>

            <div class="filters header-block service-filters">
                <a href="#" class="filter-toggle">Filtrer</a>
                <form method="get" action=".">
                    {{ form_rest(filter) }}
                    <button id="filter_submit" type="submit" name="submit-filter">Filtrer</button>
                </form>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="service-list">
        <div class="wrapper">
            <div class="grid">
                {% for service in services %}
                    {% if service.type in [1, 3] %}
                        {% set service_class = 'service-type-1' %}
                    {% else %}
                        {% set service_class = 'service-type-2' %}
                    {% endif %}
                <article class="service {{ service_class }} grid-item">
                    <div class="service-content">
                        {% if service.getPictureWebPath is not empty %}
                        <div class="picture">
                            <a href="{{ path('service_show', { 'id': service.id }) }}"><img
                                src="{{ service.getPictureWebPath | imagine_filter('service_thumb') }}"
                                srcset="{{ service.getPictureWebPath | imagine_filter('service_thumb') }} 1x,
                                        {{ service.getPictureWebPath | imagine_filter('service_thumb2x') }} 2x" /></a>
                        </div>
                        {% endif %}

                        <header>
                            <h3 class="service-title"><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.title }}</a></h3>
                            <small class="author"><a href="{{ path('user_show', { 'id': service.user.id }) }}">{{ service.user.username }}</a></small> -
                            <small class="post-date">{{ service.created | date('l, d F Y') }}</small>

                            <div class="author-image">
                                <a href="{{ path('user_show', { 'id': service.user.id }) }}"><img
                                            src="{{ service.user.getPictureWebPath | imagine_filter('user_thumb') }}"
                                            srcset="{{ service.user.getPictureWebPath | imagine_filter('user_thumb') }} 1x,
                                                    {{ service.user.getPictureWebPath | imagine_filter('user_thumb2x') }} 2x" /></a>
                            </div>
                            <div class="type">
                                {{ icons.icon('tag', 'Type de service') }} <a href="{{ path('service_index') }}">{{ service.typeLabel }}</a>
                            </div>
                        </header>
                        <div class="body">
                            {{ service.body|raw }}
                        </div>

                        <div class="meta">
                            <div class="domain">
                                {{ icons.icon('archive', 'Domaine') }} <a href="{{ path('service_index') }}">{{ service.domainLabel }}</a>
                            </div>
                            <div class="category">
                                {{ icons.icon('tags', 'Catégorie') }} {% if service.category.parent %}<a href="{{ path('service_index') }}">{{ service.category.parent.title }}</a> > {% endif %}<a href="{{ path('service_index') }}">{{ service.category.title }}</a>
                            </div>
                        </div>

                        {% if is_granted("edit", service) %}
                        <div class="actions">
                            <ul>
                                <li>
                                    {{ icons.iconlink('pencil', 'Modifier', path('service_edit', { 'id': service.id })) }}
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
            </div>
            {{ knp_pagination_render(services) }}
        </div>
    </section>
{% endblock %}
