{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}

{% block title %}Services de {{ user.username }}{% endblock %}

{% block body %}
<section class="service-list" data-tab-title="Liste des services">
    <div class="wrapper">
        {% if services|length < 1 %}
            <p class="lead text-center">Vous n'avez encore encodé aucun service. Cliquez sur le bouton <strong>+</strong> en bas à droite de la page pour en ajouter.</p>
        {% else %}
        <div class="grid masonry">
            {% for service in services %}
                {% if service.type in [1, 3] %}
                    {% set service_class = 'service-type-1' %}
                {% else %}
                    {% set service_class = 'service-type-2' %}
                {% endif %}
                <article class="service {{ service_class }} grid-item">
                    <div class="service-content">
                        {% if service.getPictureWebPath is not empty %}
                            <div class="picture">
                                <a href="{{ path('service_show', { 'id': service.id }) }}"><img
                                            src="{{ service.getPictureWebPath | imagine_filter('service_thumb') }}"
                                            srcset="{{ service.getPictureWebPath | imagine_filter('service_thumb') }} 1x,
                                        {{ service.getPictureWebPath | imagine_filter('service_thumb2x') }} 2x" /></a>
                            </div>
                        {% endif %}

                        <header>
                            <h3 class="service-title"><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.title }}</a></h3>
                            <small class="author"><a href="{{ path('user_show', { 'id': service.user.id }) }}">{{ service.user.username }}</a></small> -
                            <small class="post-date">{{ service.created | date('l, d F Y') }}</small>
                            <div class="type">
                                {{ icons.icon('tag', 'Type de service') }} <a href="{{ path('service_index') }}">{{ service.typeLabel }}</a>
                            </div>
                        </header>
                        <div class="body">
                            {{ service.body|raw }}
                        </div>

                        <div class="meta">
                            <div class="domain">
                                {{ icons.icon('archive', 'Domaine') }} <a href="{{ path('service_index') }}">{{ service.domainLabel }}</a>
                            </div>
                            <div class="category">
                                {{ icons.icon('tags', 'Catégorie') }} <a href="{{ path('service_index') }}">{{ service.category.title }}</a>
                            </div>
                        </div>

                        {% if is_granted("edit", service) %}
                            <div class="actions">
                                <ul>
                                    <li>
                                        {{ icons.iconlink('pencil', 'Modifier', path('service_edit', { 'id': service.id })) }}
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </div>
        {{ knp_pagination_render(services) }}
        {% endif %}
    </div>
</section>
{% endblock %}