{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header angle-intro inline-heading">
        <div class="wrapper">
            <h1>{{ service.title }}</h1>

            {{ icons.iconlink('pencil', 'Modifier', path('service_edit', { 'id': service.id }), 'btn') }}

            <div class="service-author">
                <div class="author-image">
                    <a href="{{ path('user_show', { 'id': service.user.id }) }}"><img
                                src="{{ service.user.getPictureWebPath | imagine_filter('user_thumb') }}"
                                srcset="{{ service.user.getPictureWebPath | imagine_filter('user_thumb') }} 1x,
                                                    {{ service.user.getPictureWebPath | imagine_filter('user_thumb2x') }} 2x" />
                 {{ service.user.username }}</a></div>
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="add-form">
    <div class="wrapper">
        <div class="meta">
            <div class="type">
                {{ icons.icon('tag', 'Type de service') }} <a href="{{ path('service_index') }}">{{ service.typeLabel }}</a>
            </div>
            <div class="domain">
                {{ icons.icon('archive', 'Domaine') }} <a href="{{ path('service_index') }}">{{ service.domainLabel }}</a>
            </div>
            <div class="category">
                {{ icons.icon('tags', 'Catégorie') }} <a href="{{ path('service_index') }}">{{ service.category.title }}</a>
            </div>
        </div>
        {{ service.body|raw }}
    </div>
</section>

<section id="comments">
    <div class="wrapper">
        <div id="disqus_thread" data-shortname="boutsdefisel" data-title="{{ service.title }} - par {{ service.user.username }}"></div>
    </div>
</section>
{% endblock %}
