{% extends 'base.html.twig' %}

{% block header %}
    <header class="page-header angle-intro inline-heading">
        <div class="wrapper">
            <h1>Modifier un échange</h1>

            {{ form_start(delete_form, {'attr': {'class': 'delete-form'}}) }}
            <button type="submit" class="btn-delete" data-confirm-message="Êtes-vous sûr de vouloir supprimer cet échange ?">{{ icons.icon('trash', 'Supprimer') }}</button>
            {{ form_end(delete_form) }}
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="edit-form">
    <div class="wrapper">
        {{ form_start(form, {'attr': {'class': 'medium-form'}}) }}
        <fieldset>
            <div class="form-row">
                {{ form_label(form.creditUser) }}
                {{ form_widget(form.creditUser) }}
                {{ form_errors(form.creditUser) }}
            </div>
            {% if is_granted('ROLE_EDITOR') %}
                <div class="form-row">
                    {{ form_label(form.debitUser) }}
                    {{ form_widget(form.debitUser) }}
                    {{ form_errors(form.debitUser) }}
                </div>
            {% endif %}
            <div class="form-row">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>
            <div class="form-row">
                {{ form_label(form.amount) }}
                {{ form_widget(form.amount) }}
                {{ form_errors(form.amount) }}
            </div>
        </fieldset>

        <div class="form-actions">
            {{ form_widget(form.save) }}
            <a href="{{ path('exchange_index') }}" class="btn">Retour à la liste</a>
        </div>

        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
