{% extends 'base.html.twig' %}
{% import "Macros/icons.html.twig" as icons %}
{% block body %}
    <section class="user-exchanges" data-tab-title="Liste des échanges">
        <div class="wrapper">
            {% if exchanges|length < 1 %}
                <p class="lead text-center">Vous n'avez encore fait aucun échange. Si vous avez bénéficié des services d'un autre membre, cliquez sur le <strong>+</strong> en bas, à droite de cette page pour encoder un échange.</p>
            {% else %}
            <table>
                <thead>
                <tr>
                    <th><i>A</i> a rendu service à <i>B</i></th>
                    <th>{{ 'label.message'|trans }}</th>
                    <th>{{ 'label.amount'|trans }}</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for exchange in exchanges %}
                    <tr>
                        <td>{{ exchange.creditUser }} {{ icons.icon('arrow-right', 'a rendu service à') }} {{ exchange.debitUser }}</td>
                        <td>{{ exchange.message }}</td>
                        <td>{{ exchange.amount }}</td>
                        <td>
                            <ul class="table-actions">
                                <li>
                                    {{ icons.iconlink('pencil', 'Modifier', path('exchange_edit', { 'id': exchange.id })) }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {% endif %}
        </div>
    </section>
{% endblock %}