
    <h1>Exchange list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Credituser</th>
            <th>Debituser</th>
            <th>Service</th>
            <th>Message</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for exchange in exchanges %}
            <tr>
                <td><a href="{{ path('exchange_show', { 'id': exchange.id }) }}">{{ exchange.id }}</a></td>
                <td>{{ exchange.creditUser }}</td>
                <td>{{ exchange.debitUser }}</td>
                <td>{{ exchange.service.id }}</td>
                <td>{{ exchange.message }}</td>
                <td>{{ exchange.amount }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('exchange_show', { 'id': exchange.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('exchange_edit', { 'id': exchange.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
