{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exchange</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exchange.id }}</td>
            </tr>
            <tr>
                <th>Credituser</th>
                <td>{{ exchange.creditUser }}</td>
            </tr>
            <tr>
                <th>Debituser</th>
                <td>{{ exchange.debitUser }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ exchange.message }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ exchange.amount }}</td>
            </tr>
            <tr>
                <th>Cubalance</th>
                <td>{{ exchange.cuBalance }}</td>
            </tr>
            <tr>
                <th>Dubalance</th>
                <td>{{ exchange.duBalance }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exchange_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('exchange_edit', { 'id': exchange.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
